input,
textarea {
	min-width: 50px;
	padding: 0.5rem;
	border-radius: 5px;
	outline: none;
	border: 1px solid #aaa;
}

input:focus {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

tbody tr {
	transition: background-color 0.2s;
}
tbody tr:hover {
	transition: background-color 0.2s;
	background-color: rgba(0, 0, 0, 0.1) !important;
}
tbody tr:nth-child(odd) {
	transition: background-color 0.2s;
	background-color: #ddd;
}
table {
	border-collapse: collapse;
	border-collapse: collapse;
	border-radius: 10px;
	border-style: hidden; /* hide standard table (collapsed) border */
	box-shadow: 0 0 0 1px #aaa; /* this draws the table border  */
}

input {
	height: 1.5rem;
}
label {
	padding-bottom: 0.25rem;
}

thead {
	font-size: 1rem;
}

thead td {
	padding: 10px 0;
	font-weight: bold;
}
