.App {
	min-height: 80vh;
	background-color: #ddd;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
input,
textarea {
	min-width: 50px;
	padding: 0.25rem 0.25rem;
	border-radius: 5px;
	outline: none;
	border: 1px solid #aaa;
}

input:focus {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}
tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
tbody tr:nth-child(odd) {
	background-color: #ddd;
}
table {
	border-collapse: collapse;
}
table tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}
